<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Survey Consent</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <h1>Survey Consent</h1>
    <p>
      Please read the following information and indicate your consent to
      participate in our survey:

      <a href="survey">Consent</a>
      <a href="decline">Decline</a>
    </p>
  </body>
</html>
