<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey Results Summary</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>Survey Results Summary</h1>
    <!-- Text answers section -->
    <h2>Text Answers</h2>
    <table>
      <tr>
        <th>Customer</th>
        <th>Breeder</th>
        <th>Comments</th>
      </tr>
      {% for response in data %}
      <tr>
        <td>{{ response[1] }}</td>
        <td>{{ response[2] }}</td>
        <td>{{ response[5] }}</td>
      </tr>
      {% endfor %}
    </table>
    <h1>Response Frequency by Timestamp</h1>

    <canvas id="responseChart"></canvas>

    <h1>Average Rating by Breeder</h1>

    <canvas id="ratingChart"></canvas>

    <!-- pie chart canvas -->
    <br />
  </body>
</html>

<script>
  // Get the canvas element
    var ctx = document.getElementById("responseChart").getContext("2d");

    // Get the data from Flask app
    var timestamps = {{ timestamps|tojson }};
    var counts = {{ counts|tojson }};
    console.log(timestamps);
    console.log(counts);

    // Create the bar chart
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: timestamps,
        datasets: [
          {
            label: "Response Frequency",
            data: counts,
            backgroundColor: "rgba(75, 192, 192, 0.2)",
            borderColor: "rgba(75, 192, 192, 1)",
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });
</script>

<script>
  // Get the canvas element
  var ctx = document.getElementById("ratingChart").getContext("2d");

  // Get the data from Flask app
  var breeders = {{ breeders|tojson }};
  var ratings = {{ ratings|tojson }};

  // Create the bar chart
  var myChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: breeders,
      datasets: [
        {
          label: "Average Rating",
          data: ratings,
          backgroundColor: "rgba(75, 192, 192, 0.2)",
          borderColor: "rgba(75, 192, 192, 1)",
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
              max: 10,
              stepSize: 1, // set the step size to 1
              callback: function (value) {
                return value.toString();
              },
            },
          },
        ],
      },
    },
  });
</script>
