<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thanks for your Feedback</title>
  </head>
  <body>
    <div class="pure-g">
      <img class="pure-img" src="../static/logo.gif" alt="Husky" class="logo" />
    </div>
    <div class="pure-g">
      <h1>Thanks for your Feedback!</h1>
    </div>

    <div class="pure-g">
      <p>We appreciate you taking the time to rate the breeder: {{breeder}}</p>
    </div>
  </body>
</html>
